.footer {
  background-image: url("/images/assets/footer-bg.jpg");
  position: relative;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 20px 0px 20px 0px;
}

.main-logo {
  width: 100px;
}
p {
  text-align: justify;
}

.footer-card {
  width: 20rem;
  margin: 8px auto;
}

@media screen and (min-device-width: 360px) and (max-device-width: 759px) {
  .main-logo {
    width: 80px;
  }
  .footer-card {
    width: 100%;
    margin: 8px auto;
  }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1280px) {
}
