.footer {
  background-image: url("/images/assets/footer-bg.jpg");
  position: relative;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 80px 0px 20px 0px;
}

.main-logo {
  width: 100px;
}
p {
  text-align: justify;
}

.footer-card {
  width: 20rem;
  margin: 15px auto;
}
