<div class="footer">
  <div class="d-flex justify-content-center align-items-center">
    <div
      class="footer-card d-flex justify-content-center flex-column align-items-center"
    >
      <img
        draggable="false"
        src="/images/logos/main-logo.svg"
        class="main-logo"
        alt=""
      />
      <span class="align-bottom">
        &copy; all rights reserved<br />
        CodeFactory 2024
      </span>
    </div>
    <div
      class="footer-card d-flex align-items-end justify-content-center flex-column"
    >
      <h6>find us here</h6>
      <div>
        <a draggable="false" href="#">
          <img
            draggable="false"
            src="/images/logos/social-media-icons/Group 15.svg"
            style="width: 55px"
            class="p-2"
          /> </a
        ><a draggable="false" href="#">
          <img
            draggable="false"
            src="/images/logos/social-media-icons/Group 16.svg"
            style="width: 55px"
            class="p-2"
          /> </a
        ><a draggable="false" href="#">
          <img
            draggable="false"
            src="/images/logos/social-media-icons/Group 17.svg"
            style="width: 55px"
            class="p-2"
          /> </a
        ><a draggable="false" href="#">
          <img
            draggable="false"
            src="/images/logos/social-media-icons/Group 18.svg"
            style="width: 55px"
            class="p-2"
          />
        </a>
      </div>
    </div>
  </div>
</div>
