<h4 class="head">Meet Our Teachers</h4>

<div class="container">
  <div class="carousel-teachers">
    <ngb-carousel controls="false" *ngIf="teachers">
      <ng-template ngbSlide *ngFor="let teacher of teachers">
        <div class="picsum-img-wrapper">
          <img
            draggable="false"
            [src]="teacher.photo"
            [alt]="teacher.name"
            class="teacher-photo img-fluid"
          />
        </div>

        <div class="carousel-caption">
          <h3>{{ teacher.name }}</h3>
          <p>{{ teacher.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<hr class="n" />
