.teacher-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.carousel .carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.n {
  margin: 10px;
}
.head {
  text-align: center;
}

.teacher-photo.img-fluid {
  margin: 5px !important;
}

.carousel-caption p {
  margin-left: 100px;
  text-align: justify;
  text-align: left;
}

.mobile-view {
  display: none;
}

.teacher-name-overlay {
  background: rgba(0, 0, 50, 0.3); /* Semi-transparent background */
  text-align: center;
  border-radius: 50px;
}

@media screen and (min-device-width: 360px) and (max-device-width: 759px) {
  .carousel-teachers {
    display: none;
  }

  .mobile-view {
    display: block;
  }
  .teacher-item {
    position: relative;
  }

  .teacher-photo {
    border-radius: 200px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1280px) {
  .carousel-caption p {
    margin-left: 120px;
    text-align: justify;
    text-align: left;
  }
  .teacher-name-overlay {
    background: rgba(0, 0, 50, 0.3); /* Semi-transparent background */
    text-align: center;
    border-radius: 50px;
  }
}
