<h4 class="head">Meet Our Teachers</h4>

<div class="container">
  <div class="mobile-view">
    <div>
      <div class="teacher-list d-block d-md-none">
        <div *ngFor="let teacher of teachers" class="teacher-item">
          <div class="picsum-img-wrapper mb-5">
            <img
              draggable="false"
              [src]="teacher.photo"
              [alt]="teacher.name"
              class="teacher-photo img-fluid"
            />
            <div class="teacher-name-overlay">{{ teacher.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-teachers">
    <ngb-carousel controls="false" *ngIf="teachers">
      <ng-template ngbSlide *ngFor="let teacher of teachers">
        <div class="picsum-img-wrapper">
          <img
            draggable="false"
            [src]="teacher.photo"
            [alt]="teacher.name"
            class="teacher-photo img-fluid"
          />
        </div>

        <div class="carousel-caption">
          <h3>{{ teacher.name }}</h3>
          <p>{{ teacher.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <hr class="n" />
</div>
