<div class="container">
    <p class="abouttext">
        About us!

        We specialize in practical IT programming courses tailored for beginners and advanced learners. Our focus is on HTML, JavaScript, and CSS, delivered through hands-on learning and industry experts. 
        Join our community and explore new opportunities in IT programming!
        Explore our courses today and embark on your journey with [Your Company Name]! 
        Discover how our innovative approach to learning can empower your career in tech.
    </p>
    <a routerLink="/about-page">More About Us</a>
</div>