<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero-section</title>
</head>

<body>
    <div class="container">
        
        <div class="hero-section">
            <div class="hero-column">
                <div class="logo-placeholder">
                    <img src="/images/logos/angularjs-original.svg" alt="">
                </div>
            </div>

            <div class="hero-column">
                <div class="hero-content">
                    <h1>The best place to learn coding in Vienna.</h1>
                    <button> <a="/.../"></a>Lern More</button>
                </div>
            </div>


        </div>
    
    </div>

</body>

</html>
