
    <div class="container">
        
        <div class="hero-section">
            <div class="hero-column">
                <div class="logo-placeholder">
                    <img src="/images/logos/main-logo.svg" alt="">
                </div>
            </div>

            <div class="hero-column">
                <div class="hero-content">
                    <h1>The best place to learn coding in Vienna.</h1>
                    <p>Learn everything you need to know to start a successful coding career in just 4 months!</p>
                    <button routerLink="/about">Learn more</button>
                  
                </div>
            </div>


        </div>
    
    </div>
