<div class="primary-header">
  <span>
    <img class="logo" routerLink="/" src="" alt="Codefactory" />
  </span>
  <div class="hamburger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="navlist" [class.active]="menuOpen" (click)="closeMenu()">
    <li><button routerLink="/gadgets">Gadgets</button></li>
    <li><button routerLink="/about-us">About us</button></li>
    <li><button routerLink="/contact">Contact</button></li>
    <li class="cart-icon">
      <a routerLink="/cart" class="fab fa-opencart"> </a>
      <span class="items-amount"
        >( <span class="cart-amount-style"></span> )</span
      >
    </li>
  </ul>
</div>
