<div class="container">
  <div>
    <h1>Full Courses</h1>
    <p class="course-text">
      The coding course provides a thorough introduction to programming,
      covering key concepts such as algorithms, data structures, and software
      development principles. Through a blend of interactive lessons, practical
      exercises, and real-world projects, students gain hands-on experience in
      various programming languages. Expert instructors offer personalized
      guidance, ensuring students build a solid foundation and develop the
      problem-solving skills necessary for a successful career in software
      development.
    </p>
  </div>

  <section class="mt-5 mb-5">
    <div class="course">
      <div id="course-hover">
        @for(course of courses; track course; let i = $index){
        <div class="container-border">
          <a
            draggable="false"
            routerLink="/details/{{ course.id }}"
            class="card-link"
          >
            <div class="cards">
              <div class="card-img">
                <img draggable="false" [src]="course.image" class="img" />
                <h5 class="text-center course-title">{{ course.title }}</h5>
              </div>
              <div class="card-body">
                <h5 class="text-center">Course duration:</h5>
                <p class="text-center">{{ course.duration }}</p>
              </div>
              <div class="card-body">
                <h5 class="text-center">Course Fee:</h5>
                <p class="text-center">{{ course.fee }}€</p>
              </div>
              <div class="card-body">
                <h5 class="text-center">Dates:</h5>
                <p class="text-center">{{ course.dates }}</p>
              </div>
            </div>
          </a>
        </div>
        }
      </div>
    </div>
  </section>
</div>
