.card-img {
  width: fit-content;
}

.course-title {
  margin-top: 5px;
}

.course {
  width: 100%;
  margin: 0px auto;
}

.cards {
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  min-height: 100vh;
}

.course {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.card-body {
  width: fit-content;
  margin: 0 15px;
}

@media screen and (min-device-width: 360px) and (max-device-width: 759px) {
  .course {
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }
  .cards {
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .card-img {
    width: fit-content;
    margin: 0 auto;
  }
  section {
    min-height: 210vh;
  }

  .card-body {
    width: fit-content;
    margin: 10px auto;
  }
}
