/* li{
    list-style: none;
    text-align: block;
    text-align: center;
 }


.newsheader{
    text-align: center;
} */


.news-container {
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  
  .news-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    
  }
  
  .news-image {
    width: 80%;
    height: auto;
  }
  
  .news-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .news-text h2 {
    margin: 0 0 10px;
    font-size: 24px;
  }
  
  .news-text p {
    margin: 0;
    font-size: 16px;
  }