<div class="container">
  <h1>About Us</h1>
  <br>
  <div class="about-container">
      <div class="column">
          <p>
              Welcome to our IT training institute, where we provide high-quality education to advance your technology career. Our institute is known for excellent teaching standards and student success. Our mission is to empower individuals with the skills and knowledge they need to excel in the ever-evolving field of IT.
              We offer a wide range of courses to meet diverse student needs. Whether you're a beginner or a seasoned professional, we have something for everyone. Our courses cover web development, data science, cybersecurity, and more, blending theoretical knowledge with practical experience.
          </p>
      </div>
      <div class="column">
          <p>
              Our HTML, CSS, and JavaScript courses equip you with essential web development skills. These foundational technologies are critical for aspiring web developers. Our experienced instructors use hands-on teaching methods, ensuring you gain practical experience.
              We emphasize soft skills such as problem-solving, critical thinking, and effective communication. Our supportive learning environment, experienced instructors, and comprehensive resources help you succeed. Join us and take the first step towards a rewarding career in technology.
          </p>
      </div>
  </div>
  

 
  <br>
  <br>

  <h1>Our Office Team</h1>
  <br>
    <div class="staff-item">
      <img src="/images/aboutus/ceo.png" alt="News Image" class="staff-image">
      <div class="staff-text">
        <h2 class="headerstaff">CEO: John Smith</h2>
        <p>John Smith is the CEO of our IT company, bringing over 20 years of experience in the tech industry. With a strong background in software development and business management, John has successfully led numerous projects to fruition. His visionary leadership and strategic thinking drive our company's growth and innovation.</p>
      </div>
    </div>
    <div class="staff-item">
      <img src="/images/aboutus/woman.png" alt="News Image" class="staff-image">
      <div class="staff-text">
        <h2 class="headerstaff">Marketing: Sarah Johnson</h2>
        <p>Sarah Johnson heads our Marketing department, with a decade of experience in digital marketing and brand management. She excels in creating effective marketing strategies that boost our online presence and customer engagement. Sarah’s creativity and analytical skills ensure our company stands out in a competitive market.</p>
      </div>
    </div>
    <div class="staff-item">
        <img src="images/aboutus/assistant.png" alt="News Image" class="staff-image">
        <div class="staff-text">
          <h2 class="headerstaff">Administrative Assistant: Emma Brown</h2>
          <p>Emma Brown is our dedicated Administrative Assistant, providing essential support to our team. With her excellent organizational skills and attention to detail, Emma ensures smooth office operations. She handles administrative tasks efficiently, allowing the rest of the team to focus on their core responsibilities.
        </p>
        </div>
      </div>
    
      <br>
      <br>
      <br>
      <br>


      <h2>Our Teachers</h2>
      <br>
        <div class="teacher-item">
          <img src="images/teachers/teacher-2.jpg" alt="Teacher Image" class="teacher-image">
          <div class="teacher-info">
            <h2 class="headerteacher">Anna Heisenberg</h2>
            <p class="teacher-text">Anna Heisenberg is renowned as a phenomenal web design teacher at our school. With a keen eye for design aesthetics and a deep understanding of user experience principles, Anna has transformed the learning experience for countless students. Her innovative approach to teaching web design not only focuses on technical skills but also emphasizes the importance of creating intuitive and visually appealing interfaces. Anna’s dedication to her craft inspires students to think creatively and strategically when approaching web projects, equipping them with practical skills that are essential in today's digital landscape.</p>
          </div>
        </div>
        <div class="teacher-item mt-5">
          <img src="images/teachers/teacher-3.jpg" alt="Teacher Image" class="teacher-image">
          <div class="teacher-info">
            <h2 class="headerteacher">Max Schmit</h2>
            <p class="teacher-text">Max Schmit stands out as an exceptional educator proficient in both coding and web design. His unique ability to seamlessly integrate these disciplines enables him to offer students a comprehensive understanding of building modern web applications. With years of industry experience, Max brings real-world relevance to his teaching, ensuring that students not only grasp the technical aspects but also learn to apply them effectively. His holistic approach encourages students to think critically and innovatively, preparing them to tackle the challenges of today’s tech-driven world with confidence.</p>
          </div>
        </div>
        <div class="teacher-item mt-5">
          <img src="images/teachers/teacher-1.jpg" alt="Teacher Image" class="teacher-image">
          <div class="teacher-info">
            <h2 class="headerteacher">Klausi Reiden</h2>
            <p class="teacher-text">Klausi Reiden is recognized for his exceptional talent as a coding instructor at our school. Known for his ability to break down complex programming concepts into clear and manageable lessons, Klausi has significantly enhanced the learning experience for his students. His patient and methodical approach not only demystifies coding but also fosters a deep understanding of software development principles. Klausi’s dedication to student success and his passion for programming inspire students to delve deeper into the intricacies of coding, empowering them to build robust and scalable applications.</p>
          </div>
        </div>

        <br>
        <br>

      <div class="location-container">
        <h2 class="location-header">Our Location</h2>
        <br>
        <p class="location-text">We are located at Kettenbrückengasse 23/2/12, 1050 Vienna. Easily accessible by public transport, with the Kettenbrückengasse U4 subway station just a short walk away. Whether you're coming by tram, bus, or train, our location is conveniently situated for your convenience. We look forward to welcoming you!</p>
        <img src="images/aboutus/about-us-space.jpg" alt="Location Image" class="location-image">
      </div>

</div>