

<div class="container">
<h1>Latest News</h1>
    <br>
    <br>
    <div class="staff-item">
        <a routerLink="/news-page">
      <img class="imgpointer" src="/images/assets/css.jpg" alt="News Image" class="staff-image" ></a>
      <div class="staff-text">
        <h2 class="headerstaff">July 1, 2024:</h2>
        <p>New Features in CSS Grid Layout</p>
    </div>
    </div>
    <div class="staff-item">
        <a routerLink="/news-page">
      <img class="imgpointer" src="/images/assets/javascript.jpg" alt="News Image" class="staff-image" ></a>
      <div class="staff-text">
        <h2 class="headerstaff">July 3, 2024: </h2>
       <p>JavaScript ES2024 Released </p>
      </div>
    </div>
    <div class="staff-item">
        <a routerLink="/news-page">
        <img class="imgpointer" src="images/assets/html.jpg" alt="News Image" class="staff-image" ></a>
        <div class="staff-text">
          <h2 class="headerstaff">July 4, 2024: </h2>
          <p>HTML5.3 Specification Finalized
        </p>
        </div>
      </div>
      <br>
</div>