<div class="cart-section payment-form mb-5 m-5">
    <h2>Payment Details</h2>
    <div class="form-group input-group">
      <div class="input-container">
        <input type="text" id="first-name" placeholder="First Name" required />
      </div>
      <div class="input-container">
        <input type="text" id="last-name" placeholder="Last Name" required />
      </div>
    </div>
    <div class="form-group">
      <input type="email" id="email" placeholder="Your Email Address" required />
    </div>
    <div class="form-group">
      <input type="tel" id="phone" placeholder="Your Phone Number" required />
    </div>
    <div class="form-group">
      <input type="text" id="country" placeholder="Your Country" required />
    </div>
    <div class="form-group">
      <input type="text" id="address" placeholder="Street Name" required />
    </div>
    <div class="form-group input-group input-flat">
      <div class="input-container">
        <input type="text" id="building-number" placeholder="Building/House Number" required />
      </div>
      <div class="input-container">
        <input type="text" id="flat-number" placeholder="Flat Number (if applicable)" />
      </div>
    </div>
    <div class="form-group">
      <input type="text" id="city" placeholder="City" required />
    </div>
    <div class="form-group">
      <input type="text" id="postal-code" placeholder="Postal Code" required />
    </div>
    <button class="primary-button" type="button" (click)="endOfTest()">Submit Payment</button>
  </div>
  